<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Fichier de configuration</comment>
<entry key="dbHostName"></entry>
<entry key="loginProduitsDerives"></entry>
<entry key="passwordProduitsDerives"></entry>
<entry key="serviceABESDB"></entry>
<entry key="sudocXMLPort"></entry>
<entry key="sudocXMLHostName"></entry>
<entry key="loginSudocXML"></entry>
<entry key="passwordSudocXML"></entry>
<entry key="serviceAPISUDOCDB"></entry>
</properties>
