<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
	<!--
		| For more configuration infromation and examples see the Jakarta
		Log4j | owebsite: http://jakarta.apache.org/log4j
	-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-4r [%t] %-4p %c{4} %x - %m%n" />
		</layout>
	</appender>

	<category name="fr.abes.derives.connection" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="fr.abes.derives.extract" additivity="false">
		<priority value="INFO" />
        <appender-ref ref="CONSOLE"/>
	</category>
	<category name="fr.abes.derives.xsltransform" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="fr.abes.derives.sax" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="fr.abes.derives.cli" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="fr.abes.technic" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="fr.abes.utils" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</category>
	<category name="other" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</category>

	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
